<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link th:href="@{/css/main.css}" rel="stylesheet">
	<link th:href="@{/css/header.css}" rel="stylesheet">
	<title>Add Person</title>
</head>

<body>
	<div class="fixed-top">
		<nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
			<div class="container">
				<a class="navbar-brand" rel="nofollow" target="_blank" href="/" style="text-transform: uppercase;">
					CLIENT PEOPLE APP</a>
				
				<div class="collapse navbar-collapse show" id="navbarResponsive">

					<ul class="navbar-nav ml-auto">

						<li class="nav-item">
							<a class="nav-link" href="/">Home
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="/person/list">People</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="/client/list"> Clients</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/person/create">Create person</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="/client/create">Create client</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="container" id="form-container">
		<div class="form-body">
			<div class="row">
				<div class="form-holder">
					<div class="header">
						<h1> Add Person</h1>
					</div>
					<th:block th:unless="${#lists.isEmpty(people)}">
						<div class="form-content">
							<div class="form-items">
								<form action="/person/addPersonForClient" method="POST" class="requires-validation"
									novalidate>

									<input type="hidden" name="clientId" th:value="${clientId}" />
									<br />
									<div class="col-md-12">
										<select class="form-select mt-3" th:name="personId" id="personDropId" required>
											<option th:each="person : ${people}" th:value="${person.personId}"
												th:text="${person.firstName}+' '+${person.lastName}"></option>
										</select>
									</div>
									<br />

									<div class="form-button text-center mt-3">
										<button id="submit" type="submit" class="btn btn-success">Add</button>
									</div>
								</form>

							</div>
						</div>
					</th:block>
					<th:block th:if="${#lists.isEmpty(people)}">
						<p>No results found.</p>
					</th:block>
				</div>
			</div>
		</div>
	</div>

</body>

</html>