<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link th:href="@{/css/main.css}" rel="stylesheet">
	<link th:href="@{/css/header.css}" rel="stylesheet">
	<title>Create Client</title>
</head>

<body>
	<div class="fixed-top">
		<nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
			<div class="container">
				<a class="navbar-brand" rel="nofollow" target="_blank" href="/" style="text-transform: uppercase;">
					CLIENT PEOPLE APP</a>
				<div class="collapse navbar-collapse show" id="navbarResponsive">

					<ul class="navbar-nav ml-auto">

						<li class="nav-item">
							<a class="nav-link" href="/">Home
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="/person/list">People</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="/client/list"> Clients</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/person/create">Create person</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="/client/create">Create client</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="container" id="form-container">
		<div class="form-body">
			<div class="row">
				<div class="form-holder">
					<div class="header">
						<h1>Create Client</h1>
					</div>

					<div class="form-content">
						<div class="form-items">
							<th:block th:unless="${#lists.isEmpty(errors)}">
								<p>Please correct the following errors in your submission:</p>
								<ul id="error">
									<th:block th:each="error : ${errors}">
										<li th:text="${error}">Error</li>
									</th:block>
								</ul>
							</th:block>
							<th:block>

								<form action="/client/create" method="POST" class="requires-validation">

									<div class="col-md-12">
										<input class="form-control bg-gray" type="text" name="clientName"
											th:value="${client.clientName}" placeholder="Client Name" required />

									</div>

									<div class="col-md-12">
										<input class="form-control" type="text" name="uri" th:value="${client.uri}"
											placeholder="Website URI" required />

									</div>


									<div class="col-md-12">
										<input class="form-control" type="text" name="phoneNumber"
											th:value="${client.phoneNumber}" placeholder="Phone number" required />

									</div>

									<div class="col-md-12">
										<input class="form-control" type="text" name="streetAddress"
											placeholder="Street Address" th:value="${client.streetAddress}" required />

									</div>

									<div class="col-md-12">
										<input class="form-control" type="text" name="city" placeholder="City"
											th:value="${client.city}" required />

									</div>

									<div class="col-md-12">
										<input class="form-control" type="text" name="state" placeholder="State"
											th:value="${client.state}" required />

									</div>

									<div class="col-md-12">
										<input class="form-control" type="text" name="zipCode" placeholder="ZipCode"
											th:value="${client.zipCode}" required />

									</div>

									<div class="form-button text-center mt-3">
										<button id="submit" type="submit" class="btn btn-success">Submit</button>
									</div>
								</form>
							</th:block>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>


</html>